@import "base";

@import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");

.container {
  display: inline-flex;
  vertical-align: bottom;
  padding: 50px;
  border: 3px solid #333;
  margin-top: 10px;
}

.another {
  font-size: 100px;
  font-family: "Catamaran";
}
